.footer {
  margin: 30px auto;
  max-width: 1000px;
}

.wrap {
  display: flex;
  justify-content: space-between;
}

.nav {
  min-width: 240px;
}

.nav:nth-of-type(n+4) {
  margin-top: -8px;
}

.sub_title {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 22px;
}

.small_title {
  margin-top: 12px;
}

.link {
  font-size: 1.4rem;
  line-height: 22px;
}

.sns {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
}

.sns:nth-of-type(n+2) {
  border-top: 1px solid lightgray
}

.sns_icon {
  display: block;
  height: 15px;
  width: 15px;
}