.categoryWrap {
  min-width: 25%;
  padding: 0 5px;
}

.tagWrap {
  margin: 0 10px 10px 0;
  width: fit-content;
}

.categoryWrap:nth-child(n+5){
  padding-top: 10px;
}

.categoryCassette, .tagCassette {
  display: flex;
  font-weight: 700;
  background-color: #fff;
  border-radius: 0.1875rem;
  padding: 0.5rem 1rem;
  align-items: center;
  height: 5rem;
}

.tagCassette {
  padding: 0.5rem 2rem;
}

.categoryImg {
  width: 24px;
  height: 24px;
  margin-right: 1rem;
}

.categoryTitle, .tagTitle {
  font-size: 1.2rem;
}