.slider_area {
  padding-bottom: 3rem;
  border-bottom: 1px solid #fc4d50;
}

.splide__arrow {
  height: 4rem;
  width: 4rem;
  background: rgba(252, 77, 80, 0.89);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.13);
}

.splide__arrow svg {
  fill: #fff;
}

.splide__pagination {
  bottom: -2.5em;
}

.splide__pagination__page.is-active {
  background: #fc4d50;
}