.cassetteWrap{
  &.recommend {
    width: 170px;
    margin: 0 11px 20px;
  }
  &.manga {
    width: 200px;
    margin: 0 20px 20px;
  }
}

.thumbnail{
  &.recommend {
    width: 150px;
    height: 160px;
  }
  &.manga {
    width: 200px;
    height: 200px;
  }
}

.authorArea {
  align-items: center;
}

.authorIcon {
  width: 20px;
  height: 20px;
  margin: 2px 3px 0 0;
}

.info {
  display: flex;
  justify-content: space-between;
}

.price {
  color: #ff5c67;
  font-size: 12px;
  font-weight: 600;
  margin-top: 3px;
}

.favorite {
  font-size: 12px;
  margin-top: 3px;
}

.genreName {
  color: #20b2aa;
}

